---
import honestyIcon from "@icons/honesty.svg";
import reliabilityIcon from "@icons/reliability.svg";
import qualityIcon from "@icons/quality.svg";
import prideIcon from "@icons/pride.svg";
import { Image } from "astro:assets";
---

<section>
    <div class="container">
        <h2>The Squeegees Window Cleaning Values</h2>

        <div class="value">
            <Image src={honestyIcon} alt="honest window cleaning" />
            <h3>Honesty</h3>
            <p>We provide honest quotes, honest advice, and honest results.</p>
        </div>

        <div class="value">
            <Image src={reliabilityIcon} alt="honest window cleaning" />
            <h3>Reliability</h3>
            <p>We show up when we say we will, every time.</p>
        </div>

        <div class="value">
            <Image src={qualityIcon} alt="honest window cleaning" />
            <h3>Quality</h3>
            <p>
                We’re detail-focused and don’t leave until the job’s done right.
            </p>
        </div>

        <div class="value">
            <Image src={prideIcon} alt="honest window cleaning" />
            <h3>Pride</h3>
            <p>
                We’re detail-focused and don’t leave until the job’s done right.
            </p>
        </div>
    </div>
</section>

<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: 6rem;
    }
    .value {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        align-items: center;
    }
</style>
