---

---

<section>
    <div class="container">
        <h1>Terms and Conditions</h1>
        <p>
            <strong
                >Acceptance of quote and/or making booking includes acceptance
                of the following conditions:
            </strong>
        </p>
        <div class="head">
            <p>
                All work done in accordance with The Squeegees Window Cleaning
                internal workplace policy documents. No employee or contractor
                is required to engage in work they feel is an unsafe or
                unreasonable request.
            </p>

            <p>
                The Squeegees Window Cleaning will not be liable for any
                existing damage caused by poor workmanship or neglectful
                maintenance routines on glass and window structures. Nor for
                damage due to failure to protect and maintain glass surfaces by
                occupants, or while under construction, nor for any other
                existing damage or wear to walls, gutters, fascias, eaves, solar
                panels, frames, screens, or window and door hardware.
            </p>

            <p>
                Gutter cleaning can be undertaken up to a height of 2 storeys or
                10metres. No higher work is permitted due to insurance
                limitations.
            </p>

            <p>
                All soft washing and pressure washing is performed with pure
                water systems. The use of selected chemical cleaning products
                may also be necessary and is assessed on a per job basis.
            </p>

            <p>
                Quotes are for work stated in quotes only. Additional work
                requests will incur additional costs and charges. All quotes
                valid for 3 months from issue date.
            </p>
        </div>

        <div class="subs">
            <h2>Inclement Weather</h2>
            <p>
                On occasion, due to the unpredictable nature of coastal living,
                work may need to be rescheduled due to heavy rain or storm
                activity, high winds, bushfires and the like. Rescheduling will
                place the booking in the next appropriate available time slot.
            </p>

            <h2>Cancellations</h2>
            <p>
                We understand life can take many unexpected turns. Please notify
                us as soon as you can about the need to reschedule or cancel a
                booking. We will happily reschedule your booking if the weather
                conditions are not safe for work. Last minute cancellations on
                the day of an appointment, not due to inclement weather will
                incur a $22.00 cancellation fee.
            </p>

            <h2>Payments</h2>
            <p>
                Payments can be made through the variety of options available.
                Direct Bank Transfer is always the preferred method and bank
                details are provided on the invoices supplied. Online Credit
                card payments are available but may incur processing fees.
                Cheques to be made payable to “Simon Albore”. Cash payments are
                also welcome. Overdue invoices may incur a late fee of 5% of the
                invoice total.
            </p>

            <h2>Non Payments</h2>
            <p>
                Failure to pay overdue invoices in their entirety will result in
                the engagement of debt recovery services. All costs of debt
                recovery will be passed on the debtor in addition to any
                existing debt and interest already incurred.
            </p>

            <h2>Digital Media</h2>
            <p>
                Our place of work varies from location to location.
                Photographing work sites to highlight access and safety issues
                for staff will be necessary from time to time. The photographs
                may also be used in the quoting and estimation process. These
                photos are discarded on completion of the job. On occasion
                workers may be photographed carrying out work related tasks for
                use on social media and business promotion. No location or
                personal information is ever recorded. Please advise our staff
                if you do not wish for photos to be used for social media and
                promotion purposes.
            </p>
        </div>
    </div>
</section>

<style>
    .container {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    .head,
    .subs {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .subs p {
        margin-bottom: 2rem;
    }
</style>
