---
import BaseHead from "../components/common/BaseHead.astro";
import Footer from "../components/common/Footer.astro";
import Navigation from "../components/common/Navigation.astro";

const { title, description, structuredData } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} structuredData={}/>
	</head>

	<body>
		<Navigation />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	main {
		margin-top: 58px;
	}
</style>
